# This is for a esp32-C3
CONFIG_IDF_TARGET="esp32c3"

# Use USB Serial/JTAG for flashing, but NOT for console output
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=n
CONFIG_ESP_CONSOLE_UART=y
CONFIG_ESP_CONSOLE_UART_NUM=1

# Pick UART1 pins for console (change to your board's free pins)
CONFIG_ESP_CONSOLE_UART_TX_GPIO=4
CONFIG_ESP_CONSOLE_UART_RX_GPIO=5
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y

# Reduce log noise
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# PPP/LwIP
CONFIG_LWIP_PPP_SUPPORT=y
CONFIG_LWIP_PPP_PAP_SUPPORT=y
CONFIG_LWIP_PPP_CHAP_SUPPORT=y
CONFIG_LWIP_PPP_MSCHAP_SUPPORT=y
CONFIG_LWIP_PPP_NOTIFY_PHASE_SUPPORT=y
CONFIG_LWIP_PPP_MAXIDLEFLAG=10
CONFIG_LWIP_TCPIP_TASK_STACK_SIZE=5120
CONFIG_LWIP_IP_FORWARD=y

# Partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y
CONFIG_MQTT_PROTOCOL_5=y
