@SERIAL_DEVICE@ @SERIAL_BAUD@
local
# Reconnect forever
persist
maxfail 0
holdoff 5

# Detect dead peer
lcp-echo-interval 5
lcp-echo-failure 3

lock
noauth
nocrtscts
novj
nobsdcomp
nopcomp
noaccomp
nodetach
asyncmap 0xa0000
escape 0x11,0x13,0x7d,0x7e
ipcp-accept-local
ipcp-accept-remote
@PPP_LOCAL_IP@:@PPP_REMOTE_IP@
ms-dns @PPP_DNS@
# Optional: enable debug for troubleshooting
# debug
