# Build-time defaults. On first boot rc.esp32c3 copies this file to
# /mod/etc/conf/esp32c3.cfg. Edit that persistent copy with nvi and restart
# rc.esp32c3; firmware upgrades do not overwrite it.
SERIAL_DEVICE='@SERIAL_DEVICE@'
SERIAL_BAUD='@SERIAL_BAUD@'
PPP_LOCAL_IP='@PPP_LOCAL_IP@'
PPP_REMOTE_IP='@PPP_REMOTE_IP@'
PPP_DNS='@PPP_DNS@'
ROUTE_NET='@ROUTE_NET@'

MQTT_BROKER='@MQTT_BROKER@'
MQTT_PORT='@MQTT_PORT@'
MQTT_TOPICS='@MQTT_TOPICS@'
MQTT_DB_PATH='@MQTT_DB_PATH@'
MQTT_CLIENT_ID='@MQTT_CLIENT_ID@'
NETWORK_FIX_SCRIPT='@NETWORK_FIX_SCRIPT@'
RECONNECT_MIN_S='@RECONNECT_MIN_S@'
RECONNECT_MAX_S='@RECONNECT_MAX_S@'
RETRY_SLEEP_AFTER_SCRIPT_S='@RETRY_SLEEP_AFTER_SCRIPT_S@'
MQTT_LOG_INSERTS='@MQTT_LOG_INSERTS@'

GRAFANA_TOPIC='@GRAFANA_TOPIC@'
GRAFANA_MAX_ROWS='@GRAFANA_MAX_ROWS@'
GRAFANA_ALLOWED_IP='@GRAFANA_ALLOWED_IP@'
